{% extends 'base.html' %}

{% block title %} seja bem vindo {% endblock %}

{% block main %}

  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#" class="brand-logo">Seja bem vindo
      {% if user.is_authenticated %}
      {{ user.username }}
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'product_list' %}" >Lista de Produtos</a></li>
        <li><a href="{% url 'logout' %}" >Sair</a></li>
      {% endif %}
      </ul>
      {% if not user.is_authenticated %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'login' %}">Entrar</a></li>
      {% endif %}
      </ul>
    </div>
  </nav>

{% for product in products %}
    <div class="container">
      <div class="row">
        <div class="col s6">
          <div class="card large">
            <div class="card-image">
              <img id="imagem" src="{{product.photo.url}}">
              <span class="card-title">{{product.name}}</span>
            </div>
            <div class="card-content">
              <p>{{product.description}}</p>
            </div>
          </div>
        </div>

{% endfor %}

    <!--<div class="col s6">-->
      <!--<div class="card large">-->
        <!--<div class="card-image">-->
          <!--<img src="images/test.jpg">-->
          <!--<span class="card-title">Card Title</span>-->
        <!--</div>-->
        <!--<div class="card-content">-->
          <!--<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>-->
        <!--</div>-->
        <!--<div class="card-action">-->
          <!--<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

{% endblock %}