{% extends 'base.html' %}

{% load material_form %}

{% block title %} Login {% endblock %}

{% block main %}

<h2> Login </h2>
<form method="post">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button class="btn btn-primary" type="submit"> Login </button>
</form>
{% endblock %}
