{% extends 'base.html' %}
{% load material_form %}
{% load static %}

{% block main%}
    <form class="viewform" method="POST" enctype="multipart/form-data">
        <img class="materialboxed" src="{{products.photo.url}}" width="30%">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        {% form form=form %}
        {% endform %}

        <button class="waves-effect waves-light btn" type="submit"> Salvar </button>
    </form>
{% endblock%}

