{% extends 'base.html' %}

{% block title %} Administraçao {% endblock %}

{% block main %}

<ul class="collapsible">
  {% for product in products %}
        <li>
            <div class="collapsible-header">
            <i class="material-icons"> <img class="responsive-img" src="{{product.photo.url}}" width="40px"></i>
            <a href="{% url 'product_update' product.id %}">{{ product.name }}</a>
            <span class="badge"> <a href="{% url 'product_delete' product.id %}"> <i class="large material-icons">delete</i>  </a> </span></div>

        </li>
   {% endfor %}
</ul>

    <a class="waves-effect waves-light btn" href="{% url 'product_new' %}"> Novo Produto</a>



{% endblock %}