{% block main%}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3> Tem certeza que deseja excluir {{ product.name }} ?</h3>
        <button type="submit"> Sim </button> <button type="button" > Nao </button>
    </form>
{% endblock%}
